{% load crispy_forms_tags %}
<style>
    .select, .select select { 
        width: 100%;
        }
</style>
<div id="modal-catalogos" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h1 class="title">Registrar Movimiento</h1>
            <form id="productoForm" data-url="{% url 'api:crear_movimiento' %}">
                {{form|crispy}}
                <button class="button is-success">Guardar</button>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>