
{% extends 'base.html' %}

{%load static%}

{% block content %}
{%include 'scripts.html'%}
{%include 'modals/add_movimiento_modal.html'%}
<div class="container">
    <h1 class="title is-2 has-text-centered">Lista de Productos</h1>
    <table id="productosTable" data-url="{% url 'api:producto_data' %}" data-csrf="{{csrf_token}}" class="table is-striped  is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad Disponible</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    const csrfToken = "{{ csrf_token }}";
</script>
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}
