{%load static%}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="columns is-vcentered is-centered">
                <div class="column is-12-mobile is-6-tablet is-4-desktop is-5-widescreen is-8-fullhd">
                    <img class="logo" src="https://konverza.digital/images/logo-konverza.png" alt="logo_empresa">
                </div>
                <div class="column is-12-mobile is-6-tablet is-4-desktop is-5-widescreen is-10-fullhd">
                    <div class="box">
                        <h1 class="title is-1 custom-title has-text-centered pb-5">Iniciar sesión</h1>
                        <form id="user_form" method="post" data-url="{% url 'api:token_obtain_pair' %}">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Nombre de usuario: </label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" name="username" placeholder="Nombre de usuario" required>
                                    <span class="icon is-left">
                                        <i class="fa-solid fa-user"></i> 
                                    </span>
                                </div>
                            </div>
                            <div class="field mb-6">
                                <label class="label">Contraseña: </label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="password" placeholder="Contraseña" required>
                                    <span class="icon is-left">
                                        <i class="fa-solid fa-lock"></i> 
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary is-fullwidth" type="submit">Iniciar sesión</button>
                                </div>
                            </div>
                            {% if form.errors %}
                                <div class="notification is-danger">
                                    <strong>Error:</strong> Nombre de usuario o contraseña incorrectos.
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/988fb26608.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/userForm.js' %}"></script>
</html>
