<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
type="text/javascript"
charset="utf8"
src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"
></script>

<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"
></script>